:root{
    --gradient: linear-gradient(
        60deg,
        #D1E9D6,
        #BEC4F3,
        #ECBE9A
    );
}

a {
    text-decoration: none;
 }

html, body{
    margin: 0;
    padding: 0;
}

*, *::after, *::before{
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'PT Sans', sans-serif;
}